<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="greenhonchos" translate="label" sortOrder="10">
            <label>Greenhonchos</label>
        </tab>
        <section id="unicommerce" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Unicommerce</label>
            <tab>greenhonchos</tab>
            <resource>Unicommerce_ExportJob::unicommerce_exportJob</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <!-- <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->
                <field id="grant_type" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Grant Type</label>
                </field>
				<field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Client Id</label>
                </field>
				<field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                </field>
				<field id="password" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
				<field id="token" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Token</label>
                </field>
				<field id="generate_token_url" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Generate Token Url</label>
                </field>
				<field id="invoice_create_url" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Invoice Create Url</label>
                </field>
            </group>
        </section>
    </system>
</config>